In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
from Bio import Entrez
from pprint import pprint
import collections

Entrez.email = 'bdo311@gmail.com'

In [3]:
# Code to take only the relevant fields from the PubMed XML summary
# from https://github.com/bdo311/creativity/blob/master/code/download_data.ipynb

def simplify(info):
    record = {}
    article = info['MedlineCitation']['Article']

    record["pmid"] = int(info['MedlineCitation']['PMID'])
    record["title"] = article['ArticleTitle']
    try: record["journal"] = article['Journal']['Title']
    except: record["journal"] = ""
    try: record["jabbr"] = article['Journal']['ISOAbbreviation']
    except: record["jabbr"] = ""
    #record["year"] = article['Journal']['JournalIssue']['PubDate']['Year']
    record["yr"] = dict(info['PubmedData']['History'][0])['Year']
    record["mo"] = dict(info['PubmedData']['History'][0])['Month']
    #record["type"] = article["PublicationTypeList"]

    record["keywords"] = info['MedlineCitation']['KeywordList']
    try:
        record["authors"] = []
        for au in article["AuthorList"]:
            record["authors"].append([au["LastName"], au["ForeName"], au["Initials"], au["AffiliationInfo"]])
    except: pass
    return record

In [50]:
def get_paper_info(pmids):
    handle = Entrez.efetch(db="pubmed", id=','.join(pmids), retmode="xml")
    records = Entrez.read(handle)['PubmedArticle']
    return [simplify(record) for record in records]

In [188]:
# Testing on a single author

handle = Entrez.esearch(db="pubmed", term="Regev Aviv[au]", retmode="xml", retmax=10000)
pmids = Entrez.read(handle)['IdList']
print "Number of papers:", len(pmids)

papers = get_paper_info(pmids)
print papers[-1]

Number of papers: 164
{'mo': '8', 'title': 'Minreg: inferring an active regulator set.', 'jabbr': 'Bioinformatics', 'authors': [["Pe'er", 'Dana', 'D', [{u'Affiliation': 'School of Computer Science & Engineering, Hebrew University of Jerusalem.', u'Identifier': []}]], ['Regev', 'Aviv', 'A', []], ['Tanay', 'Amos', 'A', []]], 'keywords': [], 'pmid': 12169555, 'yr': '2002', 'journal': 'Bioinformatics (Oxford, England)'}

In [189]:
# make a dictionary of co-authors to their papers

author_to_papers = collections.defaultdict(lambda: [])
for paper in papers:
    pmid = paper['pmid']
    num_auth = len(paper["authors"])

    if num_auth == 0 or paper['yr'] == "": continue
#         try: all_info[pmid] = (num_auth, int(rec['yr']), rec['journal'], citation_counts.get(pmid, 0))
#         except: continue

    for i in range(len(paper["authors"])):
        a = paper["authors"][i]
        au_name = ', '.join([a[0], a[2]])
        author_to_papers[au_name].append((pmid, i+1, num_auth, int(paper['yr'])))
        #author_to_pmids[','.join(a[:2])].append((pmid, i+1, num_auth))

In [190]:
# Assumptions: 
# collaborators have a median position at >75% of the author list
# most people will have at least 3 papers
# problem: what if some people start off as students and then become collaborators?

au_to_info_list = []
for au in author_to_papers:
    papers = author_to_papers[au]
    if len(papers) < 3: continue
    median_pos = np.median([float(x[1])/x[2] for x in papers])  # pos divided by total authors
    num_first = [x[1] for x in papers].count(1)
    
    start_yr = min([x[3] for x in papers])
    end_yr = max([x[3] for x in papers])
    if median_pos < 0.75:
        au_to_info_list.append([au, 'student', start_yr, end_yr, len(papers), num_first, median_pos])
    else:
        au_to_info_list.append([au, 'collab', start_yr, end_yr, len(papers), num_first, median_pos])
        
# remove the person with the most papers -- the same person we're searching
# this assumption doesn't hold if all papers are with the same person e.g. only one PI
same_au = max(au_to_info_list, key=lambda x: x[4])[0]

# make data frame
au_to_info = pd.DataFrame.from_records(au_to_info_list, \
                                       columns=["name", "position", "start", "end", \
                                                "numpapers", "num_first", "median_pos"])
#au_to_info = au_to_info[au_to_info["name"] != same_au]  # removing same_au
au_to_info.head()

         name position  start   end  numpapers  num_first  median_pos
0   Parnas, O  student   2014  2016          4          1    0.252976
1  Schier, AF   collab   2009  2014          5          0    0.833333
2    Carr, SA   collab   2011  2015          7          0    0.866667
3      Fan, L  student   2010  2011          5          0    0.400000
4  Cahill, DP  student   2013  2016          5          0    0.666667

In [191]:
au_to_info.sort_values("numpapers", ascending=False)

,name,position,start,end,numpapers,num_first,median_pos
86,"Regev, A",collab,2002,2017,163,1,0.900000
80,"Hacohen, N",collab,2008,2016,26,0,0.811012
7,"Friedman, N",collab,2003,2016,23,0,0.857143
14,"Yosef, N",student,2010,2016,21,3,0.320000
66,"Satija, R",student,2012,2016,19,1,0.521739
134,"Shalek, AK",student,2011,2016,18,3,0.419048
71,"Thompson, DA",student,2009,2015,18,3,0.535714
111,"Amit, I",student,2008,2016,15,3,0.687500
89,"Wapinski, I",student,2007,2013,13,4,0.250000
133,"Garber, M",student,2008,2015,12,1,0.250980
8,"Raychowdhury, R",student,2010,2016,12,0,0.500000
82,"Bernstein, BE",collab,2008,2016,12,0,0.889098
30,"Guttman, M",student,2008,2015,11,3,0.222222
58,"Trombetta, JJ",student,2012,2015,11,1,0.545455
33,"Kuchroo, VK",collab,2012,2016,11,0,1.000000
59,"Lander, ES",collab,2008,2016,11,0,0.923077
69,"Nusbaum, C",collab,2009,2013,11,0,0.785714
24,"Levin, JZ",student,2009,2016,11,1,0.333333
143,"Gnirke, A",student,2009,2013,11,0,0.703704
53,"Rinn, JL",collab,2008,2014,10,0,0.878676
131,"Zhang, F",collab,2014,2017,10,0,0.991071
123,"Rozenblatt-Rosen, O",collab,2009,2016,10,0,0.837719
11,"Gennert, D",student,2012,2016,10,0,0.545547
130,"Tirosh, I",student,2013,2016,9,2,0.166667
124,"Goren, A",student,2009,2015,9,1,0.208333
13,"Adiconis, X",student,2009,2016,9,1,0.375000
122,"Pochet, N",student,2012,2015,9,0,0.347826
19,"Koller, D",collab,2003,2014,8,0,0.878571
70,"Park, H",collab,2011,2015,8,0,0.918060
9,"Wu, C",student,2012,2015,8,1,0.286789
...,...,...,...,...,...,...,...
116,"Stranger, BE",collab,2014,2015,3,0,0.833333
40,"Ram, O",student,2011,2012,3,1,0.291667
77,"McCabe, C",student,2014,2014,3,0,0.541667
83,"Livak, KJ",student,2015,2016,3,0,0.692308
76,"Chindelevitch, L",student,2011,2015,3,3,0.250000
73,"Xavier, RJ",student,2012,2015,3,0,0.744186
87,"Gaublomme, J",student,2015,2016,3,0,0.272727
88,"Karwacz, K",student,2012,2016,3,1,0.347826
67,"Gillespie, SM",student,2013,2016,3,0,0.323529
65,"Robinson, JT",student,2012,2015,3,0,0.391304
63,"Li, W",student,2009,2016,3,0,0.360000
94,"Ye, CJ",student,2014,2015,3,1,0.333333
61,"Borges-Rivera, D",student,2013,2015,3,0,0.304348
60,"Sougnez, C",student,2012,2014,3,0,0.447368
55,"Wakimoto, H",student,2013,2016,3,0,0.400000
98,"Neuberg, D",student,2012,2014,3,0,0.680000
99,"Heckl, D",student,2014,2015,3,1,0.300000
54,"Wu, CJ",collab,2012,2014,3,0,0.937500
52,"Herbst, RH",student,2014,2016,3,0,0.416667
51,"Robinson, J",student,2010,2012,3,0,0.384615
49,"Mesirov, JP",collab,2009,2015,3,0,1.000000
104,"Villani, AC",student,2014,2016,3,1,0.125000
107,"Rodman, C",student,2015,2016,3,0,0.216216
108,"Wang, J",student,2012,2016,3,0,0.636364
46,"Van de Peer, Y",student,2012,2012,3,0,0.636364
110,"Rivera, MN",student,2013,2016,3,0,0.647059
112,"Chan, MM",student,2011,2013,3,1,0.250000
113,"Pauli, A",student,2011,2014,3,1,0.333333
81,"Sanjana, NE",student,2014,2016,3,1,0.550000
147,"Lin, MF",student,2008,2011,3,0,0.250000